section.Home {
	padding: 2rem 2rem;
	display: grid;
}

header.Home__header {
	display: flex;
	align-items: flex-start;
}

main.Home__principal {
	display: grid;
	justify-content: center;
	grid-row-gap: 1rem;
}

img.logo {
	width: 40vw;
	max-width: 13.5rem;
}

figure.logoBci__container {
	display: flex;
	justify-content: flex-end;
	justify-self: end;
}

img.logoBci {
	width: 30vw;
	max-width: 10rem;
	object-fit: contain;
}

section.Home__eventdate {
	display: grid;
	justify-content: center;
	justify-items: center;
	text-align: center;
	grid-row-gap: 0.5rem;
	max-width: 45rem;
}

section.Home__eventdate .callToAction {
	justify-self: center;
}

section.Home__eventdate p {
	font-size: 1.4rem;
	font-weight: bold;
}

@media screen and (max-width: 425px) {
	section.Home {
		grid-row-gap: 2rem;
		justify-items: center;
		align-items: start;
	}
	figure.logoBci__container {
		justify-self: center;
	}
}
